.event-search {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 90vh;
}
 
.event-search__label {
	display: block;
	margin-bottom: 1rem; 
}

 
.event-search__input {
	padding: 1rem;
	margin-bottom: 1rem;
}

.event-search__input {
	font-size: 1rem;
	padding: 1rem;
	border-radius: 5px 0 0 5px; 
	border: none;
	outline: none;
	width: 200px;
	height: 100%;
	margin-bottom: 1rem;
}
 
.event-search__button {
	font-size: 1rem;
	padding: 1rem;
	border-radius: 0 5px 5px 0; 
	border: none;
	outline: none;
	background-color: var(--button-color);
	color: var(--primary-color);
	cursor: pointer;
	transition: background-color 0.3s ease;
	height: 100%;
	margin-top: auto;
}

.event-search__button:hover {
	background-color: #0058c0;
}